# Core
numpy
pandas
scipy

# Machine Learning
scikit-learn

# Deep Learning
torch

# Configuration
hydra-core==1.3.2
omegaconf

# Experiment Tracking
wandb

# Data Versioning
dvc

# Visualization
matplotlib

# Utilities
tqdm

# Development
jupyterlab
ipykernel
pytest